body {
    margin: 0; /* Removes default margin */
    height: 100vh; /* Full viewport height */
    background-color: #e2bd7a;
    font-family: "Geologica", sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    line-height: 1.2;
    color: #422800;
}

p {
  font-size: small;
  font-weight: bold;
}

/* Customize the label (the container) */

.shuffle-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  margin-left: 4vw;
  /*background-color: #422800;*/
  
}

.checkbox-container {
  /*background-color: #017aa8;
  outline: 1px solid #151b1d;*/
  display: flex;
  justify-content: center;
  height: 4vw;
  position: relative;
  padding-left: 5vw;
  cursor: pointer;
  font-size: 2.3vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 4vw;
  width: 4vw;
  background-color: #d0c7c7;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #422800;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.slidecontainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
.value {
  text-align: left;
  font-size: medium;
  position: relative;
}
input[type="range"] {
  display: block;
  appearance: none;
  -webkit-appearance: none;
  background-color: #422800;
  width: 80%;
  height: 13%;
  border-radius: 5px;
  position: relative;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0.25em solid white;
  cursor: pointer;
}

.msg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  color: #710000;
  margin-top: -10%;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20% 5%; /* Row gap, column gap */
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
}

.svg-container {
    flex: 1;
    width: 100vw;
    height: 100vw;
    margin-top: -5%; 
    justify-content: center;
    align-items: center;
    position: relative;
}

/* buttons */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 3vw; /* Use viewport width for responsive border radius */
  box-shadow: #422800 0.5vw 0.5vw 0 0; /* Responsive shadow size */
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 3vw; /* Use viewport width for responsive font size */
  padding: 1vw 2vw; /* Use viewport width for responsive padding */
  line-height: 5vw; /* Use viewport width for responsive line height */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 0.2vw 0.2vw 0 0; /* Smaller shadow on click for responsiveness */
  transform: translate(0.2vw, 0.2vw); /* Small movement on click for responsiveness */
}

/*ports*/
.porttxt {
  font-size: 45px;
  text-align: center;
  text-justify: right;
  font-weight: 700;
}


/*num styles*/

.numcircle {
  fill: #fde8c2;
  stroke-miterlimit: 10;
  stroke-width: 1px;
  stroke: #000;
  
}
.blacktxt {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  text-anchor: middle;

}

.redtxt {
  font-size: 45px;
  font-weight: 700;
  fill: #c00;
  text-anchor: middle;
}

.bluetxt {
  font-size: 45px;
  font-weight: 700;
  fill: #017aa8;
  text-anchor: middle;
}

/*desert style*/
.desertNumber {
  display: none;
}

/*hex styles*/

.rock, .wood, .sheep, .wheat, .desert, .water, .clay, .neutral {
    stroke-miterlimit: 10;
    stroke-width: 6px;
    stroke: #fde8c2;
}

.rock {
fill: #bdacb4;
}

.neutral {
  fill: #fde8c2;
  }

.wood {
fill: #487138;
}

.sheep {
fill: #91c045;
}

.wheat {
fill: #ffd953;
}

.desert {
fill: #e2bd7a;
}

.clay {
fill: #be7231;
}

.water {
fill: #01a2e0;
stroke: #017aa8;
}
