* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Geologica", sans-serif;
  justify-content: center;
  align-items: center;

  /*outline: #ff0101 solid 2px;*/
}

body {
  background-color: #e2bd7a;
}

#boardFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  display: flex;
  font-size: medium;
  line-height: 1.2;
  color: #422800;
  margin: 1em;
}

.table {

  font-size: small;
  line-height: 1.2;
  color: #422800;
  margin-left: 5%;
}

h2 {
  display: grid;
  grid-column-start: 5;
  grid-column-end: 7;
  font-size: medium;
  line-height: 1.2;
  color: #422800;
  margin: 0;
}

.button_container {
  display: grid;
  padding: 0 6% 6% 6%;
  margin: 0 3% 3% 3%;
  gap: 2.5%;  
  grid-template-columns: repeat(6, 16%);
  grid-template-rows: repeat(4, auto);
  background-color: #fde8c2;
}

.board_container {
  display: flex;
  margin: 1em;
  /*background-color: beige;*/

}

.msg-container {
  display: flex;
  margin: 1em;
}

/*Resources*/

.rock, .wood, .sheep, .wheat, .desert, .water, .clay, .neutral {
  stroke-miterlimit: 10;
  stroke-width: 6px;
  stroke: #fde8c2;
}

.rock {
  fill: #bdacb4;
}

.neutral {
  fill: #fde8c2;
}

.wood {
  fill: #487138;
}

.sheep {
  fill: #91c045;
}

.wheat {
  fill: #ffd953;
}

.desert {
  fill: #e2bd7a;
}

.clay {
  fill: #be7231;
}

.water {
  fill: #01a2e0;
  stroke: #017aa8;
}

/* button */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  grid-column-start: 1;
  grid-column-end: 7;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px ;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 3% 0 3%;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 12vw;
  height: 7vw;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 5vw;
  width: 5vw;
  left: 1vw;
  bottom: 1vw;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #298e46;
}

input:focus + .slider {
  box-shadow: 0 0 1px #298e46;
}

input:checked + .slider:before {
  -webkit-transform: translateX(5vw);
  -ms-transform: translateX(5vw);
  transform: translateX(5vw);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16.66vw;
}

.slider.round:before {
  border-radius: 20vw;
}

/*num styles*/

.numcircle {
  fill: #fde8c2;
  stroke-miterlimit: 10;
  stroke-width: 1px;
  stroke: #000;
  
}
.blacktxt {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-anchor: middle;

}

.redtxt {
  font-size: 2.4rem;
  font-weight: 600;
  fill: #c00;
  text-anchor: middle;
}

.bluetxt {
  font-size: 1.6rem;
  font-weight: 700;
  fill: #017aa8;
  text-anchor: middle;
}

.porttxt {
  font-size: 2rem;
  font-weight: 700;
  text-anchor: left;
}

/*desert style*/
.desertNumber {
  display: none;
}